# Global ignore
.DS_Store
*.retry
__pycache__/

# Vagrant
.vagrant/

# Ansible collections cache (local installs)
collections/

# Terraform
Stage_two/terraform/.terraform/
Stage_two/terraform/terraform.tfstate.backup

# Node/Front-end common
**/node_modules/
**/.next/
**/dist/
**/build/
